*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container
{
    display: block;
    block-size: auto;  
}

/* cabecera */
.header
{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    height: 100px;
    align-items: center;
}

.lado1{width: 50%;}
.lado1 img
{
    width: 350px;
    height: 100px;
}
.lado2
{
    max-width: 900px;
    margin: auto;
    background-color: black;
    font-size: 20px;
    margin-top: 20px;
}

.menu-horizontal
{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal li a
{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu-horizontal li:hover 
{
    background-color: blue;
}
.menu-vertical
{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0,0,0,.5);
}
.menu-horizontal li:hover .menu-vertical
{
    display: block;
}
.menu-vertical li:hover
{
    background-color: blue;
}
.menu-vertical li a
{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}
.otro{display: none;}